@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Courgette&display=swap');
.titleFont {
    font-family: "Bricolage Grotesque", sans-serif;
}

.boxShadow {
    box-shadow: -15px 0 30px -10px #ff832c75, 0 0 30px -10px #c8e3447b, 15px 0 30px -10px #9879ff83, 0 0 0 1px #fc1ec43f;
    transition: box-shadow .15s, transform .15s;
}

.boxShadow:hover {
    box-shadow: -15px 0 30px -10px #fe84389d, 0 0 30px -10px #ff68c8a2, 15px 0 30px -10px #6958ad, 0 0 0 1px #fc1ec43f;
}

.fade-in {
    animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.arrowIcon {
    transition: transform 0.3s ease; /* Transition effect for translation */
  }
  
  .translateX {
    transform: translateX(3px); /* Adjust the translation distance */
  }
  