.footer {
    background-color: #7582a9;
    color: #252525;
    padding: 1rem;
    font-weight: 500;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top{
    display: flex;
    /* align-items: ; */
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-us,
.quick-links,
.latest-news,
.newsletter,
.social-media,
.copyright {
    /* width: 100%; */
    margin-bottom: 20px;
}

.contact-us h3,
.quick-links h3,
.latest-news h3,
.newsletter h3,
.social-media h3,
.copyright p {
    /* border-bottom: 2px solid #fff; */
    padding-bottom: 10px;
    font-size: 18px;
}

.quick-links ul,
.latest-news ul {
    list-style: none;
    padding: 0;
}

.quick-links a,
.latest-news a {
    color: #353535;
    text-decoration: none;
    font-size: 14px;
}

.newsletter form {
    display: flex;
    margin-top: 10px;
}

.newsletter input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.newsletter button {
    padding: 8px 15px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 10px;
    width: 25px;
}

.follow-copyright{
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}