@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #134e4a;
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Border around the scrollbar handle */
}

::-webkit-scrollbar-track {
    background-color: #c5fffb;
    /* Color of the scrollbar track */
    border-radius: 10px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #3498db #ecf0f1;
}